/* white navigation*/
/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 0px 30px 0px rgba(0,0,0,0.08);
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a {
    font-size: 16px;
    font-family: Open Sans;
    display: inline-block;
    line-height: 20px;
    font-weight: 600;
    color: black;
    text-decoration:none;
}
.white-nav-top .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li > button#logout-button {
  width: 89px;
  height: 30px;
  border-radius: 4px;
  color:#fff;
  font-style: Open Sans;
  font-size: 16px;
  line-height: 22px;
  background-color: #6255a5;
}



#background-img-login{

    background-image: url("../img/banner-with-overlay-login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.login-box{
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.login-box .centerdiv{
    padding: 50px 50px;
    width:100%;
    height:100%;
    background-color: white;
}
.login-box #img-1{
    text-align: center;
    padding-bottom: 25px;
    position: relative;
    margin-left: 150px;

}
.login-box .centerdiv #header-1{
   font-family: sans-serif;
   font-size: 34px;
   font-weight: 600;
   line-height: 38px;
   color:#6255a5;
   text-align: center;
   padding-bottom: 20px;
}
.login-box .centerdiv #text-1{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color:#333333;
    text-align: center;
    padding-bottom: 45px;
 }
 button.login-btn{
    font-family: sans-serif;
    width: 480px;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    background-color: #6255a5;
    color:#fff;
    text-align: center; 
    
 }
 .signup-link,
 .login-link{
    padding-top: 20px; 
     text-align: center;
 }
 .signup-link a,
 .login-link a {
     color: #6255a5;
 }
 #exampleInputEmail1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#000;
    border: 1px solid #6255a5;
    border-radius: 3px;   
    
 }
 #exampleInputPassword1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#000;
    border: 1px solid #6255a5;
    border-radius: 3px;

 }
.form-group a{
    color:#6255a5;
    margin-left:280px;
}
.login-btn{
  margin: 10px;
  background-color: #6255a5;
  color: #fff;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  height: 100%;
}

/* =========================================
                 Section
============================================*/

section {
    background: #fff;
    overflow: hidden;
}

/* =========================================
                  Cards
============================================ */
.card {
  width: 50%;
}

/* =========================================
                Content Boxes
============================================ */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

.content-box-sm {
    padding: 90px 0;
}

/* ===========================================
                  Header Menu
============================================== */

.site-header,
.site-header-home  {
    padding: 18px 0;
    background-color: white;
    position: fixed;
    border-bottom-color: black;
    box-shadow: 0 8px 6px -9px #999;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    z-index: 999;
}
.sticky-header .site-header,
.sticky-header-home .site-header {
    box-shadow: 0 0 3px rgba(0,0,0,.11);
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    padding: 5px 0;
    box-shadow: 0 8px 6px -9px #999;
  background: #821549;
}
.site-header .header-wrapper,
.site-header-home .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 40px;
    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
}
.site-header .header-wrapper .logo-wrapper a,
.site-header-home .header-wrapper .logo-wrapper a{
  color:#fff;
  text-decoration:none;
  font-size:50px;
}
.site-header .header-wrapper .logo-wrapper,
.site-header-home .header-wrapper .logo-wrapper {
    position: relative;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation,
.site-header-home .header-wrapper .navigation-wrapper .main-nav .menu-navigation {
    margin: 0;
    display: flex;
    align-items: center;
    list-style:none;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li,
.site-header-home .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li {
    margin: 0 20px;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a,
.site-header-home .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a {
    font-size: 16px;
    font-family: Open Sans;
    display: inline-block;
    line-height: 20px;
    font-weight: 600;
    color: black;
    text-decoration:none;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a img{
    width: auto;
    height: 40px;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li button,
.site-header-home .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li button {
  width: 89px;
  height: 30px;
  border-radius: 4px;
  color:#fff;
  font-style: Open Sans;
  font-size: 16px;
  line-height: 22px;
  background-color: #6255a5;
}
.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

/* ========================================
                   Home 
=========================================== */
#home{
  background: none;
  height: 100%;
  width: 100%;
}
#img-home {
  height: 100%;
  width: 100%;
}

.home-text {
   width: auto;
  height: auto;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.bold-high{
  font-family: 'Open Sans';
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  color: #ffffff;
}
.bold-low {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}
.home-learn {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff; 
  background-color: transparent;
  border-color: #ffffff;
  width: 172px;
  height: 30px;
  border-radius: 3px;
}

/* ========================================
                  About
=========================================== */

#about {
  background: none;
  text-align: left;
  margin-left: 10%;
}

.aboutleft{
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 600;
  color: #6255a5;

}
.aboutright{
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

/* ========================================
                  Procedure
=========================================== */

#procedure{
  background: #f4f4f4;
}
#procedure-content {
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
.btn {
  
  height: 35px;
  border-radius: 3px;
  font-family: Open Sans;
  font-style: 600;
  font-size: 18px;
  color: #fff;
  background-color: #6255a5;
}
.card-img-top{
  width: 140px;
  height: 140px;
  box-shadow: 0px 0px 30px0px rgba(0,0,0,0.8);
}

/*===================================================
                  Customer - Ratings 
=====================================================*/
.customer-talks-content{
  font-family: Open Sans;
  margin-bottom: 30px; 
  font-size: 34px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}
.box-customers {
  width: 100%;
  height: 35%;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
  padding: 20px;
}
.cust-image {
  margin: 10px;
  width: 100px;
  height: 100px;
}
.card-text {
  font-family: Open Sans;
  font-size: 18px;
  font-style: italic;
  line-height: 28px;
  color: #333333;
  margin: 20px;
}
.card-text-1 {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 20px;
}

/* White Navigation */

.white-nav-top {
    background: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 0px 30px 0px rgba(0,0,0,0.08);
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a {
    font-size: 16px;
    font-family: Open Sans;
    display: inline-block;
    line-height: 20px;
    font-weight: 600;
    color: black;
    text-decoration:none;
}
.white-nav-top .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li > button#logout-button {
  width: 89px;
  height: 30px;
  border-radius: 4px;
  color:#fff;
  font-style: Open Sans;
  font-size: 16px;
  line-height: 22px;
  background-color: #6255a5;
}



/* search */
#search-img img {
    width: 100%;
    min-height: 250px;
    margin-top: 90px;
}
#search-img {
    position: relative;
}
#img-content h1{
    position: absolute;
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: 400px;
    height: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-200px) translateY(0px);
    transform: translateX(-200px) translateY(0px);
}


/* Search and Filter notes */
#filternotes {
    margin: 60px 0;
}
.note-title h4{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}
#search-lines {
    background-color: #f9f9f9;
    padding: 30px;
    margin-top: 20px;
    height: 181px;
}
#search-lines::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
#search-lines #line-1 {
    margin-bottom: 20px;
}

#line-2 div>select.form-control {
    width: 167px;
    margin-right: 9px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8a8a8a;
}

/*  Notes */
.notebox {
    margin-top: 30px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;  
}
.notebox .note-img img {
    width: 100%;
    height: 253px;
}
.notebox .note-content {
    padding: 30px;
/*
    height: 300px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
*/
}
.notebox .note-content h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 80px;
}
.note-content ul {
    list-style: none;
    padding: 0;
}
.note-content-inner li {
    margin-bottom: 15px;
    display: flex;
}
.note-content-inner li i {
    font-size: 20px;
    width: 35px;
}
.note-content-inner li i.fa-flag {
    font-size: 20px;
    width: 45px;
}
.note-content-inner li span {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}
.note-content-inner li span#flag {
    color: #df3434;
}
/* Star */
div.review-stars {
  display: inline-block;
}
div.review-stars .star-rating {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
    padding: 5px;
}
label.star {
/*  float: right;*/
  padding: 0px;
  font-size: 18px;
  color: #444;
}
label.star-1:before,
label.star-2:before,
label.star-3:before,
label.star-4:before{
  content: '\f005';
  color: #FD4;
  font-family: FontAwesome;
}
label.star-5:before{
  content: '\f006';
  font-family: FontAwesome;
}


/* Pagination */
#pagination {
    margin: 50px 0;
}
#pagination .pagination li>a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    border: none;
    margin: 3px;
    width: 34px;
    height: 34px;
}
#pagination .pagination .fa-angle-left,.fa-angle-right
{
    font-size: 20px;
    width: 8px;
    color: #333333;
}
#pagination .pagination li>a:hover {
    background: none;
}
#pagination .pagination li>a:focus {
    box-shadow: none;
}
#pagination .pagination li>a.active {
    background: #6255a5;
    border-radius: 50%;
    color: #ffffff;
    width: 34px;
    height: 34px;
}



/* notedetail page */


#nodedetail-line-01 {
    margin: 60px 0;
    margin-top: 150px;
}
.heading h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-bottom: 20px;
}
#note-img img {
    width: 240px;
    height: 300px;
}
#note-desc {
    padding-top: 10px;
    padding-right: 40px;
}
#note-desc #nd-note-desc-head h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    margin-bottom: 5px;
}
#note-desc #note-desc-head p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin-bottom: 10px;
}
#note-desc-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 20px;
}
#down-button {
    width: 240px;
    height: 50px;
}
#down-button a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    padding: 7px 15px;;
}
.note-table {
    margin: 0;
}
.note-table td {
    padding: 0;
    margin: 0;
}
.note-table td.row-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
}
.note-table td.row-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #6255a5;
    text-align: right;
}
.note-table td>div.review-stars{
    text-align: right;
}
.note-table td>div.review-stars>div.star-rating {
    padding: 0;
    margin: 0;
}
.note-table td>div.review-stars>div.star-rating>div.star-review>span {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #6255a5;
}
#note-info p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #df3434;
}

/* Modal */
.modal-dialog {
    top: 150px;
    width: 450px;
}
.modal-content .btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    font-weight: 100;
    outline: none;
}
.modal-content-inner {
    padding: 40px 30px 0px 15px;
}
.modal-content-inner .modal-header-img img {
    height: 50px;
    width: 50px;
}
.modal-header {
    border-bottom: 0 none;
    padding-top: 10px;
}

.modal-footer {
    border-top: 0 none;
}

.modal-header h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
}

.modal-body #modal-bold p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    margin-bottom: 5px;
}
.modal-body #modal-normal p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #333333;
    margin-bottom: 15px;
}

/* part 02 */
#notedetail-line-02 {
    margin: 60px 0;
}
/*My Profile*/
.heading {
    margin-top: 40px;
    margin-bottom: 20px;
}
.heading p {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    color: #6255a5;
    margin-bottom: 8px;
}
.form-group label {
  font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    color: #333333;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #8a8a8a;
}
#form-section .form-group button {
    width: 130px;
    height: 40px;
    color: #fff;
    background: #6255a5;
    border-radius: 3px;
    font-weight: 500;
}

/* =====================================================
          Dashboard - Brief
========================================================*/

.top-content {
  margin-top: 100px;
  margin-bottom: 20px;
}
.dashboard-content {
  color: #6255a5;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 25px;
  float: left;
}
.btn-note {
  color: #fff;
  background-color: #6255a5;
}

/* Earning Tables */
.earning-img {
  width: 30%;
}
.content {
  color: #6255a5;
}

.right-nav {
  float: right;
}

/*In-Progress table*/
#in-progress-table {
  margin: 1%;
}

.round-btn {
  background-color: #6255a5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.5%;
  margin: 0.2%;
  border-radius: 100%;
}
/* Contact-us */
.banner {
    width: 100%;
}
.content-box {
  margin-bottom: 3%;
}
.content-top {
  color: #6255a5;
  font-weight: 600;
  margin-top: 10%;
  font-size: 20px;
}
.content-img {
  position: absolute;
  top: 70%;
  left: 50%;
  color: #fff;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 30px;
  transform: translate(-50%, -50%);
}
.btn {
  margin: 10px;
  background-color: #6255a5;
  color: #fff;
}
.form-group{
  width: 100%;
}

.contact-1 {
    padding-top: 1%; 
    padding: 1.5%;
}
.comments {
  margin: 1.1%;
}

/* add notes*/
/* Contact-us */
.banner {
    width: 100%;
}
.content-box {
  margin-bottom: 3%;
}
.content-top {
  color: #6255a5;
  font-weight: 600;
  margin-top: 10%;
  font-size: 20px;
}
.content-img {
  position: absolute;
  top: 70%;
  left: 50%;
  color: #fff;
  font-family: Open Sans;
  font-weight: 500;
  font-size: 30px;
  transform: translate(-50%, -50%);
}
.btn {
  margin: 10px;
  background-color: #6255a5;
  color: #fff;
}
.form-group{
  width: 100%;
}

.add-notes-1 {
    padding-top: 1%; 
    padding: 1.5%;
}

.content-Institution-Information{
  color: #6255a5;
  font-weight: 600;
  padding-top: 10px;
  margin-top: 20%;
  font-size: 20px;
}

.content-course-details{
  color: #6255a5;
  font-weight: 600;
  padding-top: 10px;
  margin-top: 20%;
  font-size: 20px;
}

.content-selling-information{
  color: #6255a5;
  font-weight: 600;
  padding-top: 10px;
  margin-top: 20%;
  font-size: 20px;
}

.comments {
  margin: 1.1%;
}

.institute information{
    margin: 1.1%;
}

.course details{
      margin: 1.1%;
}


#my-sold-notes-table {
    margin: -1%;
}

#my-sold-notes-table-margin {
    margin: 0.7%;
}

.link-margin {
    /* eye and dots images */
    margin: 10px;
}

.text-color {
    /* note title text-color */
    color: #6255a5;
}

.dropdown-menu {
    min-width: 3px;
    min-height: 35px;
}


.btn-circle.btn-sm {
    width: 25px;
    height: 25px;
    padding: 0.3%;
    margin: 0.2%;
    border-radius: 15px;
    border: none;
    font-size: smaller;
    text-align: center;
}

.btn.btn-primary {
    background-color: #6255a5;
}

.btn.btn-primary:hover {
    background-color: #6255a5;
}

#icon-margin-right {
    margin-right: 5px;
}

#icon-margin-left {
    margin-left: 5px;
}

.fa-facebook {
    text-align: center;
    margin-top: 4px;
}

.fa-twitter {
    text-align: center;
    margin-top: 4px;
}

.fa-google-plus {
    text-align: center;
    margin-top: 4px;
}

#back-to-top {
    background-color: #6255a5;
}